body{
    direction: rtl;
}


* {
    box-sizing: border-box;
  }
.mobile-nav-toggle{
    display: none;
}

.home{
    background-image: url('../img/Picture2.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
.bg{
  font-size: 180px;
  font-family: yekanbakh-fat;
  background-position: center;
  background-repeat: no-repeat;
  padding: 32px 23px;
  color: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 220%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  left: 0;
  font-weight: bold;
  line-height: 1em;
  letter-spacing: 5px;
  text-transform: uppercase;
}
   

@media  (max-width:35em) {
    .nav{
        position: fixed;
        inset: 0 0 0 30%;
        z-index: 1000;

        --gap:2em;
        padding:min (30vh,10rem) 2em;
        background:hsl(0 0% 100% / 0.1)  ;
        backdrop-filter: blur(1rem);
        flex-direction: column;
        background-color: rgb(255, 255, 255);
    }
    .mobile-nav-toggle{
        display: block;
        position: absolute;
        top: 1rem;
        right: 0.75rem;
        z-index: 9999;
        width: 1rem;
       
        aspect-ratio: 1;
        background-image: url('../img/download.png');
        background-size: cover;

        
    }


}
/* For desktop: */
.col-1 {width: 10.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}



.row::after {
    content: "";
    clear: both;
    display: block;
  }
  
  [class*="col-"] {
    float: left;
    padding: 15px;
  }
  .swiper-container{
    width: 600px;
    height: 250px;
  }
  .swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
}
.
 .box1 {
   
  height: 200px;
  margin: 2px ;
} 
.bg1{
  background-color: aqua;
}
.bg2{
  background-color: blueviolet;

}
.bg3{
  background-color: blue;
}
.bg4{
  background-color: black;
}